<div id="header_content">
            <div id="header_menu" >
                <div action="map" class="item_menu map_menu  header_menu_item ">
                    <a href="{{ url_for('main') }}">Главная</a>			</div>
                <div action="map" class="item_menu map_menu  header_menu_item ">
                    Карта			</div>
                <div action="work" class="item_menu work_menu header_menu_item ">
                    <a href="{{ url_for('work') }}">Работа</a>			</div>
                <div action="storage" class="item_menu map_menu  header_menu_item ">
                    <a href="{{ url_for('storage') }}">Склад</a>			</div>
                <div action="storage" class="item_menu map_menu  header_menu_item ">
                    <a href="{{ url_for('market') }}">Рынок</a>			</div>
                <div action="war" class="item_menu wars_menu header_menu_item">
                    Война			</div>
                <div action="news" class="item_menu storage_menu header_menu_item ">
                    Статьи			</div>
                <div action="settimg" class="item_menu sitting_menu  header_menu_item ">
                    Настройки			</div>
            </div>
        </div>